body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f2f2f2;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@font-face {
  font-family: Damion-Regular;
  src: url("../../assets/fonts/Damion-Regular.ttf");
}
@font-face {
  font-family: NanumSquareEB;
  src: url("../../assets/fonts/NanumSquareEB.ttf");
}
@font-face {
  font-family: NanumSquareL;
  src: url("../../assets/fonts/NanumSquareL.ttf");
}
@font-face {
  font-family: NanumSquareR;
  src: url("../../assets/fonts/NanumSquareR.ttf");
}
